{include file="public/header"}
<body class="body">

<div class="my-page-box">
    <i class="layui-icon" style="font-size:10em;color: brown">&#xe60c;</i>
    <p class="msg" style="font-size:2em;color:red">Sorry !</p>
    <p class="text">
        <h1 style="font-size:2em">
            您当前无访问权限，请联系管理员为您开通！
        </h1>
    </p>
    <!--<div class="my-btn-box">
        <a class="layui-btn layui-btn-small" href="javascript:;">返回首页</a>
        <a class="layui-btn layui-btn-danger layui-btn-small " href="javascript:;">返回上页</a>
    </div>-->
</div>

<script type="text/javascript" src="__admin__/frame/layui/layui.js"></script>
<script type="text/javascript">
    // you code ...


</script>
</body>
</html>